<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Заказ номера</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Пансионат "Ласточка"</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					  <li class="nav-item active">
						<a class="nav-link" href="/admin/">Админ. панель</a>
					  </li>
					  <li class="nav-item active">
							<a class="nav-link" href="/journal/">Журнал</a>
					  </li>
				</ul>
				<a class="nav-link" href="/login">Войти</a>
			  </div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-sm-2"></div>
			<div class="col-sm-7">
				
			</div>
		</div>
	</div>

	
	<form style="width: 500px; margin:auto;" class="pt-5">
		
		<h5>Заказ номера</h5>

		<div class="row pt-2">
			<div class="col">
				<div class="form-group">
					<label for="dateStartField">Дата въезда</label><br>
					<input type="date" class="form-control" id="dateStartField">
				</div>
			</div>
		</div>

		<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="dateEndField">Дата отъезда</label><br>
						<input type="date" class="form-control" id="dateEndField">
					</div>
				</div>
		</div>

		<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="typeRoomField">Тип номера</label><br>
						<select class="form-control" id="typeRoomField" placeholder="Выберите тип номера">
								<option>Выберите тип комфорта</option>
								<option>Люкс</option>
								<option>Полулюкс</option>
								<option>Бюджет</option>
						</select>
					</div>
				</div>
			</div>

		<div class="row">
				<div class="col">
					<div class="form-group">
						<label for="amountField">Количество человек</label><br>
						<input type="number" class="form-control" id="amountField" placeholder="Введите количество человек">
					</div>
				</div>
		</div>
		<div class="row">
			<div class="col">
				<h5>Сумма: 1000 руб</h5>
			</div>

		</div>
		<div class="row">
			<div class="col">
				<button type="submit" class="btn btn-block btn-primary">Купить билет</button>
			</div>
		</div>
	</form>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>