<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<title>Авторизиция</title>
</head>
<body>
	
	<div id="appNav">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
				<a class="navbar-brand" href="/">Пансионат "Ласточка"</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					  </button>
					  <div class="collapse navbar-collapse" id="navbarText">
						<ul class="navbar-nav mr-auto">
						  <li class="nav-item active" v-if="level >= 3">
							<a class="nav-link" href="/admin/">Админ. панель</a>
						  </li>
						  <li class="nav-item active" v-if="level >= 2">
								<a class="nav-link" href="/journal/">Журнал</a>
						  </li>
						</ul>
							<template v-if="level !=0">
								<a class="nav-link" href="/personal/">%%session['username']%%</a>
                				<a href="/exit/"><img src="%% url_for('static', filename='img/login.png') %%" alt="выход"></a>
                			</template>
					  </div>
			</nav>
	</div>
	<div id="app">
	<form style="width: 300px; margin:auto">

		<div class="row pt-5">
			<div class="col">
				<h5>Вход в систему</h5>
			</div>
			
		</div>
		<div class="row pt-4">
			<div class="col">
				<div class="form-group">
					<label for="loginField">Логин</label>
					<input type="text" class="form-control" id="loginField" v-model="login" placeholder="Введите логин">
				</div>
			</div>
		</div>
		<div class="row" v-on:keyup.enter="sendData">
			<div class="col">
				<div class="form-group">
					<label for="passField">Пароль</label>
					<input type="password" class="form-control" id="passField" v-model="pass" placeholder="Введите пароль">
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col">
			<button type="button" class="btn btn-outline-secondary" onclick="postreq();return false;">Зарегистрироваться</button>
			</div>
			<div class="col">
			<button type="button" class="btn btn-block btn-primary" v-on:click="sendData">Войти</button>
			</div>
		</div>
		<div class="row pt-4" v-if="error">
			<div class="col">
				<div class="alert alert-danger " role="alert">
 			 		Неверный логин или пароль!
				</div>
			</div>
			
		</div>		
	</form>
	</div>

	<script type="text/javascript">
		a = new Vue({
			el: '#app',
			data: {
				login: '',
				pass: '',
				error: false
			},
			methods:{
				async sendData() {
					let user = {
						login: this.login,
						pass: this.pass
					}
					let response = await fetch('/login/',{
						method: 'POST',
						headers: {
    						'Content-Type': 'application/json;charset=utf-8'
  						},
						body: JSON.stringify(user)
						});
					let result = await response.json();

					if(result.message != 'False'){
						this.error = false;
						document.location.href = result.message;
					}
					else {
						this.error = true;
						console.log("Нет такого аккаунта")
					}
					
				}
			}
		})

		nav = new Vue({
			el: '#appNav',
			data: {
				level: 0
			},
			created:async function() {
					let response = await fetch('/take_level/')
					if(response.ok)
						{
							let result = await response.json();
							this.level = result.message;
						}					
				}
			})
	</script>

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>