<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
	<title>Авторизиция</title>
</head>
<body>
	<div class="app">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">Пансионат "Ласточка"</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
				   <li class="nav-item active">
						<a class="nav-link" href="/admin/">Админ. панель</a>
                   </li>
					<li class="nav-item active">
							<a class="nav-link" href="/journal/">Журнал</a>
					</li>
				</ul>
                <a class="nav-link" href="/personal/">%%username%%</a>
                <a href="/exit/"><img src="%% url_for('static', filename='img/login.png') %%" alt="выход"></a>
			  </div>
	</nav>
	<div class="container-fluid">
		<h1>Личный кабинет</h1>
		<div class="row">
			<div class="col-8">
				<h4>Ваши билеты</h4>
				<table class="table table-bordered">
					<thead class="thead-light">
					<tr>
						<th scope="col">#</th>
						<th scope="col">Номер билета</th>
						<th scope="col">Номер комнаты</th>
						<th scope="col">Корпус</th>
						<th scope="col">Тип комнаты</th>
						<th scope="col">Дата заезда</th>
						<th scope="col">Срок</th>
						<th scope="col">Цена</th>
					</tr>
					</thead>
					<tbody>
					<tr>
						<th scope="row">1</th>
						<td>10</td>
						<td>210</td>
						<td>Б</td>
						<td>Люкс</td>
						<td>01.12.2019</td>
						<td>10 дней</td>
						<td>
                            2200 руб <a onclick="exit()"><img src="%% url_for('static', filename='img/plus.png') %%" alt="выход"></a>
                        </td>
						
					</tr>
					</tbody>
				</table>
			</div>
			<div class="col-4">
				<h4>Настройки профиля</h4>
                <h5>Логин: %%username%%</h5>
				<button class="btn btn-primary">Сменить пароль</button>
			</div>
		</div>
	</div>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>